<script src="http://media.philly.com/storage/inquirer/plugins/chartist/chartist.min.js">
</script>
<div class="headerIntro desktopElem">
    <div class="image-gradient"></div>
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">Michael Bryant / Staff Photographer</div>
    </div>
    <div class="center-headerSection">
        <h1 class="overlayText">A Hidden Hellscape</h1>
        <div class="center-headDisplay">
            <div class="center-subHead"> “I questioned whether I was still in the U.S.” </div>

            <div class="center-byline"> Stephanie Farr and Sam Wood / Staff Writers<br><a href="mailto:farrs@phillynews.com">farrs@phillynews.com</a> / <a href="mailto:samwood@phillynews.com">samwood@phillynews.com</a>
                <div style="margin:50px auto 0; width:250px; height:80px;" class="custom-social-share" alignment="true">&nbsp;</div>
            </div>
            <div class="center-dateline">Sunday, Feb. 19, 2017</div>
            <div class="center-subHead" style="font-size:40px;margin: 40px auto -10px;"><i class="fa fa-headphones" aria-hidden="true">&nbsp;</i></div>
            <div class="center-byline">Listen with headphones for best experience.</div>
        </div>
    </div>
</div>

<div class="headerIntro mobileElem">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">Michael Bryant / Staff Photographer</div>
    </div>
    <h1 class="overlayText">A Hidden Hellscape</h1>
</div>

<div class="headerSection mobileElem">
    <div class="BackgroundImageCaption">caption.</div>
    <div class="headDisplay">
        <div class="subHead">“I questioned whether I was still in the U.S.”</div>
        <div class="byline"> Stephanie Farr and Sam Wood / Staff Writers<br><a href="mailto:farrs@phillynews.com">farrs@phillynews.com</a> / <a href="mailto:samwood@phillynews.com">samwood@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true"></div>
    </div>
    <div class="dateline">Sunday, Feb. 19, 2017</div>
</div>
</div>


<div id="background-cover"></div>
<div class="flyover-container desktopElem" id="intro" alignment="true">
    <div id="controls">
        <!-- <div alignment="true" id="mute" class="mute-button"><span class="glyphicon glyphicon-volume-up">&nbsp;</span></div> -->
        <div id="skip">SKIP VIDEO <span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span></div>
    </div>
    <div class="videoText">
      In Philadelphia, just four miles from where America declared its independence is a hidden-in-plain-sight wasteland along railroad tracks where the most desperate of Philadelphia's addicts have handed over their lives and liberty to heroin.
    </div>
    <div class="gradient"></div> <video id="flyover" poster="" id="introVid">
      <source type="video/mp4" src="http://media.philly.com/storage/inquirer/special project media/tracks/tracks_colorTest.mp4">
      <source type="video/webm" src="http://media.philly.com/storage/inquirer/special project media/tracks/tracks_colorTest.webm">
    </video>
    <!-- <img id="flyover-labels" src="google maps/tracksText.jpg" /> --><img id="flyover-labels" src="http://media.philly.com/storage/inquirer/special project media/tracks/tracks_noFade.png" /></div>
<div id="bodyContainer-1" class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-6 col col-md-offset-1 mobileElem" alignment="true">
            <p><span class="dropCap">I</span>n Philadelphia, just four miles from where America declared its independence is a hidden-in-plain-sight wasteland along railroad tracks where the most desperate of Philadelphia's addicts have handed over their lives and liberty to heroin.</p>
            <p>Thousands of used syringes and their discarded orange caps cover the ground like a plague of locusts. In a gulch along Gurney Street forged by the Conrail tracks that run through Kensington and Fairhill, the conditions are so hazardous with
                dirty needles that even some police officers are reluctant to traverse the embankments to get to dead overdose victims at the bottom. </p>
        </div>
        <div class="col-md-6 col col-md-offset-1" alignment="true">
            <p><span class="dropCap">T</span>housands of used syringes and their discarded orange caps cover the ground like a plague of locusts. In a gulch along Gurney Street forged by the Conrail tracks that run through Kensington and Fairhill, the conditions are so hazardous with
                dirty needles that even some police officers are reluctant to traverse the embankments to get to dead overdose victims at the bottom. </p>
        </div>
    </div>
</div>
<div class="container-fluid" id="three-ribbon">
    <div class="row">
        <div class="col-md-4" style="padding:0 !important;">
            <img src="http://media.philly.com/images/RS_x_20170216_IMG_7172.JPG" alt="" width="100%/">
        </div>
        <div class="col-md-4" style="padding:0 !important;">
            <img src="http://media.philly.com/images/RS_x_20170216_IMG_7157.JPG" alt="" width="100%/">
        </div>
        <div class="col-md-4" style="padding:0 !important;">
            <img src="http://media.philly.com/images/RS_x_20170216_IMG_7141.JPG" alt="" width="100%/">
        </div>
        <div class="containerPhotoCredit" alignment="true">Stephanie Farr / staff</div>
        <div class="containerPhotoCaption" alignment="true">caption.</div>
    </div>
</div>
<div class="background-cover-white"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-2">
            <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                <div class="adUnit" alignment="true">
                    <div id="div-gpt-ad-mrec-21" alignment="true">
                        <script alignment="true" type="text/javascript">
                            // <![CDATA[
                            cX.callQueue.push(['invoke', function() {
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-mrec-21');
                                });
                            }]);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>
            <p>The squalor and chaos resembles a scene from Hieronymus Bosch. Addicts - many with injections wounds so fresh that the still drying blood glistens in the sun - twist their bodies into unnatural forms to crouch and teeter on the trash-covered,
                uneven ground as they shoot up. Others sleep under nearby bridges or in makeshift shelters, surrounded by garbage, drugs, and death. </p>
<div class="imagebreak">
    <img class="img-fluid" src="http://media.philly.com/images/N+Phila_El+Campamento-01.png" alt="" width="100%/">
    <div class="containerPhotoCredit" alignment="true">Staff graphic</div>
</div>
            <p>At a plywood shack known to denizens as "the hospital," users too squeamish to inject themselves can pay a few dollars to a Ray-Ban clad addict who calls himself "The Doctor" and looks like he stepped out of a Mad Max movie. </p>
            <p><span class="soundcite" data-url="http://media.philly.com/storage/inquirer/special%20project%20media/tracks/doctor_audio_tracks.mp3" data-start="0" data-end="18500" data-plays="1">"People come here when they have trouble to hit themselves,"</span>                said the 45-year-old man, who declined to give his real name. "So I hit them in the neck, you know what I mean? So I'm like the doctor. So they pay me."</p>

            <p>This apocalyptic terrain, sometimes called El Campamento, is home to 75 to 125 addicts at any given time. Many more transient users come each day just to get high. It is the festering epicenter of Philadelphia's heroin epidemic and it has
                gone largely ignored for two decades. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col">
            <div class="row">
                <div class="col-md-6 col">
                    <img src="http://media.philly.com/images/RS_x_20170216_IMG_7148.JPG" alt="" width="100%/">
                </div>
                <div class="col-md-6 col">
                    <img src="http://media.philly.com/images/RS_x_20170216_IMG_7146.JPG" alt="" width="100%/">
                </div>
                <div class="containerPhotoCredit" alignment="true">Stephanie Farr / staff</div>
                <div class="containerPhotoCaption" alignment="true">When users are too squeamish to inject themselves with heroin they can come to this shack along the gulch that users call &quot;the hospital&quot; and pay someone to inject them. </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-2">
            <p>But pressure is mounting from a growing confluence of political, societal, and economic forces to finally clean up the gulch for good.</p>
            <p>From a task force convened by the mayor to address the city's opioid epidemic that last year claimed more than 900 lives, to growing development around the site in Kensington and Fairhill, and an increase in rail traffic along the Conrail
                tracks at the bottom of the gulch, a flash point seems to have been reached.</p>
            <p>"Every city department has been put on notice," said Quetcy Lozada, chief of staff for city Councilwoman Maria Quinones-Sanchez who represents the district that's home to the gulch. "The state has also been brought to the table. No one will
                get a pass. There's no deniability now."</p>
                <div class="imagebreak videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZuujRCRo9gU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <div class="containerPhotoCredit videoWrapperCredit" alignment="true">Video by Sam Wood and Stephanie Farr. Produced by Jared Whalen / STAFF</div>
                </div>
            <p>City Councilman Allan Domb said he wants this gulch along Gurney Street cleared and cleaned by June 1. Then he wants it fenced off.</p>
            <p>"I'm appalled we allow this to go on," he said. "It's like a third-world country."</p>
            <p>From her worn mattress beneath the graffiti-covered underbelly of the B Street Bridge, Ana Correa can see across the Conrail tracks to the embankment on the other side, where almost every day heroin addicts overdose and tumble down the detritus-covered
                slope like rag dolls.</p>
                {% set quote = ["A lot of people die down here, and they're letting them die because they don't want the cops to come so they push the bodies to the side.", "Ana Correa"] %} {% include "partials/left-quote.html" %}

            <p>Correa's own addiction began when her mother introduced her to the heroin at 16, she said. </p>
            <p>"I be scared sometimes," said Correa, 53, as she scratched at the injection wound on her neck. "A lot of people die down here, and they're letting them die because they don't want the cops to come so they push the bodies to the side."</p>
            <p>Rampant drug use along these tracks has been happening for at least 20 years, according to law enforcement, government, and social service officials. </p>
            <p>The underworld has endured partly because the geography of the gulch. It isn't visible from street level, except while on overpass bridges, and nearby residents rarely traverse the area, which means few have seen the dystopian landscape there.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="http://media.philly.com/images/RS_x_20170216_HE1TRACKS05_j_357885534.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">Michael Bryant</div>
            <div class="containerPhotoCaption" alignment="true">caption.</div>
        </div>
        <div class="col-md-8 col col-md-offset-2">
            <p>"The police department and the community there have basically said &lsquo;They're out of sight. They're concentrated in one area, so it's easy to manage,'" Lozada said. "Little did they know the epidemic would get so out of control and this
                would become the epicenter." </p>

            <p>Special agent in charge of the Philadelphia office of the Drug Enforcement Agency, Gary Tuggle, a 33-year law enforcement veteran, said he'd thought he'd seen it all - until he saw the gulch. </p>
            <p>"I questioned whether I was still in the U.S.," he said.</p>
            <p>Historically, heroin addiction was generational, with family and older friends introducing new users to the drug, Tuggle said. But the prescription opioid epidemic has introduced a whole new - and growing - set of users to heroin, making it
                the worst narcotics epidemic Tuggle said he's ever seen.</p>
            <p>Lozada said what many people echoed off-the-record - that the renewed attention to the heroin crisis and the gulch is, in part, due to this new and growing set of users, many of whom are young, white, and suburban.</p>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right right-offset">
                <img class="img-fluid" src="http://media.philly.com/images/RS_x_20170216_HE1TRACKS05_a_357985840.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">Michael Bryant</div>
                <div class="containerPhotoCaption" alignment="true">Gail Scott, bottom, left, of the University of the Sciences and is on the Mayor’s Opiod Drug Task Force, leads the way down a muddy path surrounded by trash and used needles as the group navigates the area under the bridge by the train
                    tracks in Kensington that is used as a shooting gallery.</div>
            </div>
            <p>"Let's be very honest, we have a Caucasian younger generation that has become addicted so now there's a focus&#8230;.from D.C. on down that we have to find some a solution and resolution," Lozada said. "But for many years there were many black
                and brown people dying from it."</p>
            <p>In the wake of more than 900 fatal overdoses last year, including 35 fatal overdoses victims in just five days in December - 26 of whom tested positive for fentanyl - the city is focusing on the gulch with a sense of urgency.</p>
            <p>The city is in negotiations with Conrail, which owns the tracks, to clean up the area. And it's more than fatal overdoses provoking action. </p>
            <p>Traffic on the rails has surged in recent years as petrochemicals from the Marcellus Shale move from the center of the state to the Energy Hub ports on the Delaware River. </p>
            <p>And Kensington, long regarded as among the most blighted neighborhoods in the city, is seeing the glimmers of a renaissance. Speculators are snapping up empty lots, vacant buildings, and tax delinquent rowhomes. </p>
            <p>"There's condos popping up everywhere," said Elvis Rosado of Prevention Point, a nonprofit agency that provides needle-exchange and other health services to drug addicts. "Those are hard to sell with junkies in the front doors."</p>
            <p>Domb, a real estate developer and investor who was elected to council in 2015, wants the city to bulldoze the drug encampments, remove the mounds of used needles, rip out the trees that provide cover, and wall off the area from the addicts
                who trespass on the railroad's property. </p>
            <p>He estimates it will cost up to $1 million???? to get the job done. He wants Conrail to pay for it.</p>
            {% set quote = ["We need to do this now. There's no tomorrow for these people. Tomorrow they may not be alive.", "City Councilman Allan Domb"] %} {% include "partials/left-quote.html" %}
            <p>Lozada said funding will have to come from many places. </p>
            <p>"Conrail will have to put in funds, the city will have to do their part, the state will have to do some," she said. "It has to be all hands on deck as it relates to the funding for this situation." </p>
            <p>Domb wants the gulch "resolved," the area cleaned up, and the addicts in treatment by June 1. "If we don't set goals we'll never get it accomplished," he said. "We need to do this now. There's no tomorrow for these people. Tomorrow they may
                not be alive." </p>
            <p>Capt. Michael Cram, commander of the 25th District where the gulch is located, said it's not the residents in the neighborhood around the gulch that sustain the underground economy there. </p>
            <p>"It's not locals buying...It's always outsiders," he said. </p>
            <p>Law enforcement officers said they've encountered heroin addicts along the tracks from as far south as Florida and as far west as California. All agree, just arresting the addicts won't work. </p>
            <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/RS_x_20170216_HE1TRACKS05_k_357861491.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">File photo</div>
                <div class="containerPhotoCaption" alignment="true">A heroin user, right, that was caught shooting up by the Philadelphia Police during the Kensington tour is handcuffed and taken into custody.</div>
            </div>
            <p>"There aren't enough jail cells in the country to arrest your way out," Tuggle said. </p>

            <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                <div class="adUnit" alignment="true">
                    <div id="div-gpt-ad-mrec-22" alignment="true">
                        <script alignment="true" type="text/javascript">
                            // <![CDATA[
                            cX.callQueue.push(['invoke', function() {
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-mrec-22');
                                });
                            }]);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>
            <p>Rosado said there has been talk about putting a wall up along the ridge to prevent people from getting down to the tracks and Domb said he would like to see a fence erected.</p>
            <p>"You can put up the wall but if you don't do anything with the population, they're just going to come back," Rosado said. And while Domb wants all the addicts in the area put into treatment, that may not be possible.
            </p>
            <p>Lozada said there are not enough shelter beds for the homeless in the city and there are even less services for people seeking addiction recovery assistance. </p>
            <p>Roland Lamb, deputy commissioner for planning and innovation in the city's Department of Behavioral Health and Intellectual disAbility Services, Estimated there were about 30,000 heroin addicts in the area, or double the treatment slots available
                for them. </p>

            <p>But even if the city had enough capacity to treat all of the addicted here, consent may be the biggest hurdle reformers face. Government officials can not force addicts into recovery against their will - and for many heroin users, the addiction
                becomes the strongest force in their world, even surpassing the bond between mother and child. </p>
            <p>Correa has 10 children and six grandchildren. She cries when she talks of how her grandchildren used to love to visit her when she lived with her boyfriend, who died last year. Yet Correa remains under the bridge and in the gulch injecting
                heroin. </p>
            <p>Her biggest fear is not death, she said, but a normal life. </p>
            <p>"I've never been well or happy for a long period of time so when I do feel like I'm doing well I'm afraid because it's not a feeling I'm familiar with and it scares me," Correa said. "When I do become clean I've got to become a new person
                because I've been this other person for so long."</p>
            <p>Lamb believes the path to helping addicts like Correa is to have people meet them where they are, engage them, invite them to safe spaces, and offer them opportunities for treatment. And if they're not ready, offer them consistent opportunities
                to fulfill their other needs, like housing or food, until they are ready. </p>
            <p>"There are people out here that can sell cars to people that don't want them," Lamb said. "We should invest the same resources in people like that to do street outreach." </p>
            <p>Strengthening and funding community groups in the area like Prevention Point that offer services for addicts instead of the old not-in-my-backyard mentality, is key too, Lamb said. </p>
            <p>"This is a drug of, for, and by the people," he said. "And the solution is an effort of, for, and by the people."</p>
        </div>
    </div>

</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Michael Bryant / Staff Photographer</div>
    </div>
</div>


<style type="text/css">
@media screen and (max-width: 1000px) {
        .left-offset {
            margin-left: 0 !important;
        }
        .right-offset {
            margin-right: 0 !important;
        }
        #bodyContainer-1 {
            margin-top: -50vh;
        }
    }

    @media screen and (max-width: 800px) {

      .backgroundImage {
        height: auto !important;
      }
        #bodyContainer-1 {
            margin-top: 50px;
            margin-top: 0;
            opacity: 1;
        }
        .desktopElem {
            display: none !important;
        }
        .mobileElem {
            display: block;
        }

        .overlayText {
            top: 40%;
            margin: 0px auto 0;
            font-size: 70px;
            letter-spacing: -3;
        }
    }
        @media screen and (max-width: 600px) {
          .overlayText {
      position: relative;
      top: inherit;
      bottom: inherit;
      color: #000;
      text-shadow: none!important;
      padding: 30px 10px 10px;
      margin-bottom: .625rem;
      font-weight: 800;
      letter-spacing: -.0625rem;
      font-size: 2.5rem;
      line-height: 1.05;
  }
        }

</style>
